apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  labels:
    app: {{ .Release.Name }}
    {{- include "oai-gnb.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "oai-gnb.selectorLabels" . | nindent 6 }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{- include "oai-gnb.selectorLabels" . | nindent 8 }}
        app: {{ .Release.Name }}
    {{- if and .Values.multus.enabled .Values.multus.interfaces }}
      {{- $count := include "oai-gnb.countDefaultRouteInterfaces" . | int }}
      {{- if gt $count 1 }}
      {{- fail (printf "(%d) enabled interfaces are using defaultRoute; only one is allowed." $count) }}
      {{- end }}
      annotations:
        k8s.v1.cni.cncf.io/networks: |-
          [
          {{- $first := true }}
          {{- range .Values.multus.interfaces }}
          {{- if .enabled }}
            {{- if not $first }},{{- end }}
            {
              "name": "{{ $.Release.Name }}-{{ .name }}",
              "interface": "{{ .name }}"
              {{- if .defaultRoute }},
              "default-route": ["{{ .defaultRoute }}"]
              {{- end }}
              {{- if .mac }},
              "mac": "{{ .mac }}"
              {{- end }}
              {{- if .gateway }},
              "gateway": "{{ .gateway }}"
              {{- end }}
            }
            {{- $first = false }}
          {{- end }}
          {{- end }}
          ]
    {{- end }}
    spec:
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml .Values.imagePullSecrets | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ .Chart.Name }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      {{- if .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.nodeName }}
      nodeName: {{ .Values.nodeName }}
      {{- end }}
      initContainers:
      {{- if .Values.config.enableE2 }}
        - name: wait-for-ric
          image: docker.io/oaisoftwarealliance/oai-tcpdump-init:alpine-3.20
          imagePullPolicy: IfNotPresent
          command: [ "/bin/sh", "-c" ]
          args:
            - until ping -c 1 {{ .Values.config.ricHost }}; do echo waiting for ric to start; sleep 1; done
          resources:
            requests: { cpu: "1m", memory: "50Mi" }
            limits:   { cpu: "1m", memory: "50Mi" }
      {{- end }}
      {{- if .Values.global }}{{ if .Values.global.waitForAMF }}
        - name: wait-for-amf
          image: docker.io/oaisoftwarealliance/oai-tcpdump-init:alpine-3.20
          imagePullPolicy: IfNotPresent
          command: [ "/bin/sh", "-c" ]
          args:
            - until ncat -zv {{ .Values.config.amfHost }} 38412 --sctp; do echo "Waiting for AMF..."; sleep 1; done
          resources:
            requests: { cpu: "1m", memory: "50Mi" }
            limits:   { cpu: "1m", memory: "50Mi" }
      {{- end }}{{- end }}
        - name: config-patcher
          image: docker.io/mikefarah/yq:4.47.2
          command: [ "sh", "-c" ]
          args:
            - |
              set -e
              echo "Resolving hostnames and patching config..."
              cp /tmp/config/config.yaml /tmp/config_patch/gnb.yaml
              echo "$N2_IF_NAME $N3_IF_NAME"
              for i in $(seq 1 $MAX_RETRIES); do
                echo "$AMF_HOST" | grep -Eq '^([0-9]{1,3}\.){3}[0-9]{1,3}$' && { export AMF_IP="$AMF_HOST"; break; }
                AMF_IP=$(getent hosts "$AMF_HOST" | awk '{print $1}')
                if [ -n "$AMF_IP" ]; then
                  echo "Resolved AMF_IP=$AMF_IP"
                  export AMF_IP
                  break
                fi
                echo "[$i/$MAX_RETRIES] Waiting for $AMF_HOST to resolve..."
                sleep $SLEEP_TIME
              done

              if [ -z "$AMF_IP" ]; then
                echo "ERROR: Unable to resolve $AMF_HOST after $((MAX_RETRIES*SLEEP_TIME)) seconds"
                exit 1
              fi

              {{- if .Values.config.enableE2 }}
              for i in $(seq 1 $MAX_RETRIES); do
                echo "$AMF_HOST" | grep -Eq '^([0-9]{1,3}\.){3}[0-9]{1,3}$' && { export AMF_IP="$AMF_HOST"; break; }
                RIC_IP=$(getent hosts "$RIC_HOST" | awk '{print $1}')
                if [ -n "$RIC_IP" ]; then
                  echo "Resolved RIC_IP=$RIC_IP"
                  export RIC_IP
                  break
                fi
                echo "[$i/$MAX_RETRIES] Waiting for $RIC_HOST to resolve..."
                sleep $SLEEP_TIME
              done

              if [ -z "$RIC_IP" ]; then
                echo "ERROR: Unable to resolve $RIC_HOST after $((MAX_RETRIES*SLEEP_TIME)) seconds"
                exit 1
              fi
              {{- end }}

              export N2_IP=$(ip -f inet addr show $N2_IF_NAME | grep -o "inet [0-9]*\.[0-9]*\.[0-9]*\.[0-9]*" | grep -o "[0-9]*\.[0-9]*\.[0-9]*\.[0-9]*");
              export N3_IP=$(ip -f inet addr show $N3_IF_NAME | grep -o "inet [0-9]*\.[0-9]*\.[0-9]*\.[0-9]*" | grep -o "[0-9]*\.[0-9]*\.[0-9]*\.[0-9]*");

              echo "Resolved: AMF=$AMF_IP N2=$N2_IP N3=$N3_IP"

              yq -i '
                .Active_gNBs[0] = strenv(GNB_NAME) |
                .gNBs[0].gNB_name = strenv(GNB_NAME) |
                .gNBs[0].tracking_area_code = strenv(TAC) |
                .gNBs[0].plmn_list = strenv(PLMN_LIST) |
                .gNBs[].plmn_list |= (from_yaml) |
                {{- if .Values.config.enableE2 }}
                .e2_agent.near_ric_ip_addr = strenv(RIC_IP) |
                {{- else }}
                del(.e2_agent) |
                {{- end }}
                .gNBs[0].amf_ip_address[0].ipv4 = strenv(AMF_IP) |
                .gNBs[0].NETWORK_INTERFACES.GNB_IPV4_ADDRESS_FOR_NG_AMF = strenv(N2_IP) |
                .gNBs[0].NETWORK_INTERFACES.GNB_IPV4_ADDRESS_FOR_NGU = strenv(N3_IP)
              ' /tmp/config_patch/gnb.yaml
              cat /tmp/config_patch/gnb.yaml
          env:
            - name: GNB_NAME
              value: "{{ .Values.config.gnbName }}"
            ## For resolving the hostname
            - name: MAX_RETRIES
              value: "10"
            - name: SLEEP_TIME
              value: "2"
              {{- if .Values.config.enableE2 }}
            - name: RIC_HOST
              value: "{{ .Values.config.ricHost }}"
              {{- end }}
            - name: AMF_HOST
              value: "{{ .Values.config.amfHost }}"
            - name: N2_IF_NAME
              value: '{{ include "oai-gnb.n2IfName" . }}'
            - name: N3_IF_NAME
              value: '{{ include "oai-gnb.n3IfName" . }}'
            - name: TAC
              value: "{{ .Values.config.tac }}"
            - name: PLMN_LIST
              value: |
              {{ toYaml .Values.config.plmn_list | nindent 16 }}
          volumeMounts:
            - name: shared-data
              mountPath: /tmp/config_patch
            - name: configuration
              mountPath: /tmp/config
          resources:
            requests: { cpu: "1m", memory: "50Mi" }
            limits:   { cpu: "1m", memory: "50Mi" }
      containers:
        - name: gnb
          image: "{{ .Values.nfimage.repository }}:{{ .Values.nfimage.version }}"
          imagePullPolicy: {{ .Values.nfimage.pullPolicy }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- if eq .Values.config.radio "vrtsim" }}
          hostIPC: true
          {{- end }}
          volumeMounts:
            - name: shared-data
              mountPath: /opt/oai-gnb/etc
          {{- if eq .Values.config.radio "b2xx" }}
            - name: radio
              mountPath: /dev/bus/usb/
          {{- end }}
          {{- if eq .Values.config.radio "vrtsim" }}
            - name: shared-data
              mountPath: /tmp
          {{- end }}
          env:
          - name: TZ
            value: {{ .Values.config.timeZone | quote }}
          - name: USE_ADDITIONAL_OPTIONS
            value: {{ .Values.config.useAdditionalOptions | quote }}
          - name: OAI_GDBSTACKS
            value: "{{ .Values.config.gdbstack }}"
          {{- if eq .Values.config.radio "b2xx" }}
            - name: USE_B2XX
              value: true
          {{- end }}
          {{- if eq .Values.config.radio "x3xx" }}
            - name: USE_X3XX
              value: true
          {{- end }}
          {{- if eq .Values.config.radio "n3xx" }}
            - name: USE_N3XX
              value: true
          {{- end }}
          {{- if .Values.resources.define }}
          resources:
            requests:
              cpu: {{ .Values.resources.requests.nf.cpu | quote }}
              memory: {{ .Values.resources.requests.nf.memory | quote }}
            limits:
              cpu: {{ .Values.resources.limits.nf.cpu | quote }}
              memory: {{ .Values.resources.limits.nf.memory | quote }}
          {{- end }}
          ports:
            - name: n3
              containerPort: 2152
              protocol: UDP
            - name: n2
              containerPort: 36412
              protocol: SCTP
          {{- if not .Values.start.gnb }}
          command: [ "/bin/sleep", "infinity" ]
          {{- end }}
          env:
            - name: TZ
              value: {{ .Values.config.timeZone | quote }}
            - name: USE_ADDITIONAL_OPTIONS
              value: {{ .Values.config.useAdditionalOptions | quote }}

        {{- if .Values.includeTcpDumpContainer }}
        - name: tcpdump
          image: "{{ .Values.tcpdumpimage.repository }}:{{ .Values.tcpdumpimage.version }}"
          imagePullPolicy: {{ .Values.tcpdumpimage.pullPolicy }}
          securityContext:
            capabilities:
              add: [ "NET_ADMIN", "NET_RAW" ]
              drop: [ "ALL" ]
          {{- if .Values.resources.define }}
          resources:
            requests:
              cpu: {{ .Values.resources.requests.tcpdump.cpu | quote }}
              memory: {{ .Values.resources.requests.tcpdump.memory | quote }}
            limits:
              cpu: {{ .Values.resources.limits.tcpdump.cpu | quote }}
              memory: {{ .Values.resources.limits.tcpdump.memory | quote }}
          {{- end }}
          {{- if .Values.start.tcpdump }}
          command: [ "/bin/sh", "-c", "/usr/bin/tcpdump -i any -w /tmp/pcap/{{ .Chart.Name }}_$(date +%Y-%m-%d_%H_%M-%S-%Z).pcap" ]
          {{- else }}
          command: [ "/bin/sleep", "infinity" ]
          {{- end }}
        {{- end }}

      volumes:
        - name: configuration
          configMap:
            name: {{ .Chart.Name }}-configmap
        - name: shared-data
          emptyDir: {}
        {{- if eq .Values.config.radio "b2xx" }}
        - name: radio
          hostPath:
            path: /dev/bus/usb/
        {{- end }}
        {{- if eq .Values.config.radio "vrtsim" }}
        - name: shared-volume
          persistentVolumeClaim:
            claimName: shared-pvc
        {{- end }}
