# Kubernetes distribution selector
# - "Vanilla"   → Community Kubernetes
# - "Openshift" → Red Hat OpenShift (requires UBI images)
kubernetesDistribution: Vanilla  

# amf container image configuration
nfimage:
  repository: docker.io/oaisoftwarealliance/oai-amf
  version: v2.2.0       # Image tag (or "develop" for latest dev build)
  pullPolicy: IfNotPresent  # Options: IfNotPresent, Always, Never

# Image pull secrets (useful for private registries or DockerHub rate limits)
# imagePullSecrets:
#  - name: "regcred"

# Service account configuration
serviceAccount:
  create: true
  annotations: {}

exposedPorts:
  sbi: 80
  n4: 8805 # default port no need to change unless necessary
  n3: 2152 # default port no need to change unless necessary

podSecurityContext:
  runAsUser: 0
  runAsGroup: 0

securityContext:
 privileged: true
 capabilities:
    add:
     - NET_ADMIN
     - SYS_ADMIN
    drop:
     - ALL
# ───────────────────────────────────────────────
# Supported deployment modes:
# 1. N3, N4 and SBI can share the same virtual interface (optional).
# 2. There can be only one entry of defaultRoute
# 3. Only Interface type macvlan and vlan are supported, to support type vlan:
#    - change to type vlan
#    - add vlan 
#    - add gateway (optional)
# 
# Note:  
# - Adapt the IP addresses to your lab environment.
# ───────────────────────────────────────────────

# If a particular interface is commented then it won't be created and instead of it eth0 will be used. 

multus:
  enabled: false
  interfaces:
    - name: "n3"
      hostInterface: "eth0"
      ipAdd: "172.21.12.95"
      netmask: "22"
      defaultRoute: "172.21.7.254"
      enabled: true
      type: macvlan
      mode: "bridge"
    - name: "n4"
      hostInterface: "eth0"
      ipAdd: "192.168.24.2"
      netmask: "24"
      enabled: false
      type: macvlan
      mode: "bridge"
    - name: "n6"
      hostInterface: "eth0"
      ipAdd: "192.168.22.2"
      netmask: "24"
      enabled: false
      type: macvlan
      mode: "bridge"
    - name: "n9"
      hostInterface: "eth0"
      ipAdd: "192.168.23.2"
      netmask: "24"
      enabled: false
      type: macvlan
      mode: "bridge"
    - name: "sbi"
      hostInterface: "eth0"
      ipAdd: "172.21.8.91"
      netmask: "22"
      gateway: "172.21.11.254"
      enabled: false
      type: macvlan
      mode: "bridge"

start:
  upf: true      # If false → NF container sleeps (for manual debugging)
  tcpdump: false  # Enable tcpdump container inside pod

includeTcpDumpContainer: false  # If true, add tcpdump sidecar for debugging

# Tcpdump sidecar image (if enabled)
tcpdumpimage:
  repository: docker.io/oaisoftwarealliance/oai-tcpdump-init
  version: alpine-3.20
  pullPolicy: IfNotPresent

#To store PCAP of NF in a sharedVolume so it can be easily fetched (PVC is created with NRF charts so make sure in NRF it is true)
persistent:
  sharedvolume: false

# Resource requests and limits
# See: 
# https://kubernetes.io/docs/concepts/configuration/manage-resources-containers
# https://kubernetes.io/docs/concepts/workloads/pods/pod-qos
resources:
  define: false
  limits:
    nf:
      cpu: 2000m
      memory: 1Gi
    #If tcpdump container is disabled this value will not be used
    tcpdump:
      cpu: 200m
      memory: 128Mi
  requests:
    nf:
      cpu: 2000m
      memory: 1Gi
    #If tcpdump container is disabled this value will not be used
    tcpdump:
      cpu: 200m
      memory: 128Mi

readinessProbe: true
livenessProbe: false

# Scheduling options
affinity: {}
terminationGracePeriodSeconds: 5
nodeSelector: {}
nodeName:
