---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-configmap
  labels:
    app: {{ .Release.Name }}
data:
  config.yaml: |-
    Active_gNBs: 
      - "cu-rfsim"
    
    Asn1_verbosity: "none"
    
    gNBs:
      - gNB_ID: {{ .Values.custom.gNB_ID }}
        gNB_name: "cu-rfsim"
        tracking_area_code: 1
        plmn_list:
          - mcc: 208
            mnc: 99
            mnc_length: 2
            snssaiList:
              - sst: 1
                sd: 0xffffff
        nr_cellid: {{ .Values.custom.nr_cellid }}
        tr_s_preference: "{{ .Values.custom.tr_s_preference }}"
        local_s_address: "192.168.71.150"
        remote_s_address: "192.168.71.171"
        local_s_portc: 501
        local_s_portd: 2153
        remote_s_portc: 500
        remote_s_portd: 2153
    
        SCTP:
          SCTP_INSTREAMS: {{ .Values.custom.SCTP_INSTREAMS }}
          SCTP_OUTSTREAMS: {{ .Values.custom.SCTP_OUTSTREAMS }}
    
        amf_ip_address:
          - ipv4: "192.168.8.108"
    
        NETWORK_INTERFACES:
          GNB_IPV4_ADDRESS_FOR_NG_AMF: "192.168.8.35"
          GNB_IPV4_ADDRESS_FOR_NGU: "192.168.8.35"
          GNB_PORT_FOR_S1U: 2152  
    
    e2_agent:
      near_ric_ip_addr: 192.168.70.10
      sm_dir: "/usr/local/lib/flexric/"
    
    security:
      ciphering_algorithms:
        {{- range .Values.custom.ciphering_algorithms }}
        - {{ . }}
        {{- end }}
      integrity_algorithms:
        {{- range .Values.custom.integrity_algorithms }}
        - {{ . }}
        {{- end }}
      drb_ciphering: {{ .Values.custom.drb_ciphering }}
      drb_integrity: {{ .Values.custom.drb_integrity }}
    
    log_config:
      global_log_level: "info"
      pdcp_log_level: "info"
      rrc_log_level: "info"
      f1ap_log_level: "info"
      ngap_log_level: "info"
