---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-configmap
  labels:
    app: {{ .Release.Name }}
    {{- include "oai-gnb.labels" . | nindent 4 }}
data:
  config.yaml: |-
{{ (.Files.Glob "config.yaml").AsConfig | nindent 2 }}
