# Kubernetes distribution selector
# - "Vanilla"   → Community Kubernetes
# - "Openshift" → Red Hat OpenShift (requires UBI images)
kubernetesDistribution: Vanilla  

# du container image configuration
nfimage:
  repository: docker.io/oaisoftwarealliance/oai-gnb
  version: develop       # Image tag (or "develop" for latest dev build)
  pullPolicy: IfNotPresent  # Options: IfNotPresent, Always, Never

# Image pull secrets (useful for private registries or DockerHub rate limits)
# imagePullSecrets:
#  - name: "regcred"

# Service account configuration
serviceAccount:
  create: true
  annotations: {}

# Service type is fixed to ClusterIP (only for non-Multus interfaces, i.e., eth0)

# ───────────────────────────────────────────────
# Supported deployment modes:
# 1. RF-Simulated du (RFsim):  
#    - Only one interface required (F1) → use Kubernetes default (eth0).  
# 2. Physical du with Ethernet-based USRP/RRU:  
#    - Requires ruInterface for RU connection.  
#    - F1C can still use eth0, or you can dedicate separate interface
#    - F1U can still use eth0 or F1C interface or you can dedicate separate subnet
# 3. There can be only one entry of defaultRoute
# 4. Only Interface type macvlan and vlan are supported, to support type vlan:
#    - change to type vlan
#    - add vlan 
#    - add gateway (optional)
#
# Note:  
# - For USRP B210 you must mount USB devices from the host.  
# - Adapt the IP addresses to your lab environment.
# ───────────────────────────────────────────────

# If a particular interface is commented then it won't be created and instead of it eth0 will be used. 

## Don't change the order of the interface names 
multus:
  enabled: false
  interfaces:
    - name: "f1c"
      hostInterface: "eth0"
      ipAdd: "172.21.6.90"
      enabled: true
      netmask: "22"
      defaultRoute: "172.21.7.254"
      type: macvlan
      mode: "bridge"
    - name: "f1u"
      hostInterface: "eth0"
      ipAdd: "172.21.16.90"
      enabled: true
      netmask: "22"
      type: macvlan
      mode: "bridge"
    - name: "e2"
      hostInterface: "eth0"
      ipAdd: "192.168.85.91"
      enabled: true
      netmask: "24"
      type: macvlan
      mode: "bridge"
    - name: "ru"
      hostInterface: "eth0"
      enabled: true
      ipAdd: "192.168.80.90"
      netmask: "24"
      gateway: "192.168.80.1"
      type: macvlan
      mode: "bridge"
      mtu: 1500

## If you want to change more configuration parameters then you should mount the config file  
# in templates/configmap.yaml
# Example config files --> https://gitlab.eurecom.fr/oai/openairinterface5g/-/tree/develop/targets/PROJECTS/GENERIC-NR-5GC/CONF 
config:
  timeZone: "Europe/Paris"
  useAdditionalOptions: "-E --rfsim --log_config.global_log_options level,nocolor"
  duName: "oai-rfsim"
  usrp: "rfsim"  # Options: rfsim, b2xx, n3xx, x3xx
  cuHost: "oai-cu" ## Ip-address or hostname
  enableE2: false
  f1duPort: 2153
  ricHost: "oai-flexric"
  gdbstack: 1     # 1 to see gdb traces 
  tac: 1
  plmn_list:
  - mcc: "001"   # Must match AMF/SMF/UPF
    mnc: "01"
    mnc_length: "2"
    snssaiList:
      - sst: "1"
        sd: "0xffffff"
custom:
  gNB_ID: 0xe00
  gNB_DU_ID: 0xe00
  min_rxtxtime: 6
  nr_cellid: 123

servingCellConfigCommon:
  physCellId: 0
  absoluteFrequencySSB: 621312
  dl_absoluteFrequencyPointA: 620040
  dl_offstToCarrier: 0
  dl_subcarrierSpacing: 1
  dl_carrierBandwidth: 106
  initialDLBWPlocationAndBandwidth: 28875
  initialDLBWPsubcarrierSpacing: 1
  initialDLBWPcontrolResourceSetZero: 11
  initialDLBWPsearchSpaceZero: 0
  ul_frequencyBand: 78
  ul_offstToCarrier: 0
  ul_subcarrierSpacing: 1
  ul_carrierBandwidth: 106
  pMax: 20
  initialULBWPlocationAndBandwidth: 28875
  initialULBWPsubcarrierSpacing: 1
  prach_ConfigurationIndex: 98
  prach_msg1_FDM: 0
  prach_msg1_FrequencyStart: 0
  zeroCorrelationZoneConfig: 12
  preambleReceivedTargetPower: -104
  preambleTransMax: 6
  powerRampingStep: 1
  ssb_perRACH_OccasionAndCB_PreamblesPerSSB_PR: 4
  ssb_perRACH_OccasionAndCB_PreamblesPerSSB: 15
  ra_ContentionResolutionTimer: 7
  rsrp_ThresholdSSB: 19
  prach_RootSequenceIndex_PR: 2
  prach_RootSequenceIndex: 1
  msg1_SubcarrierSpacing: 1
  restrictedSetConfig: 0
  msg3_DeltaPreamble: 1
  p0_NominalWithGrant: -90
  pucchGroupHopping: 0
  hoppingId: 40
  p0_nominal: -90
  ssb_PositionsInBurst_Bitmap: 1
  ssb_periodicityServingCell: 2
  dmrs_TypeA_Position: 0
  subcarrierSpacing: 1
  referenceSubcarrierSpacing: 1
  dl_UL_TransmissionPeriodicity: 6
  nrofDownlinkSlots: 7
  nrofDownlinkSymbols: 6
  nrofUplinkSlots: 2
  nrofUplinkSymbols: 4
  ssPBCH_BlockPower: -25

SCTP:
  SCTP_INSTREAMS: 2
  SCTP_OUTSTREAMS: 2

MACRLCs:
  num_cc: 1
  tr_s_preference: "local_L1"
  tr_n_preference: "f1"
  local_n_portd: 2153
  remote_n_portd: 2153
  pusch_TargetSNRx10: 200
  pucch_TargetSNRx10: 200

L1s:
  num_cc: 1
  tr_n_preference: "local_mac"
  prach_dtx_threshold: 200
  pucch0_dtx_threshold: 150
  ofdm_offset_divisor: 8 

RUs:
  local_rf: "yes"
  nb_tx: 1
  nb_rx: 1
  att_tx: 0
  att_rx: 0
  bands: [78]
  max_pdschReferenceSignalPower: -27
  max_rxgain: 114
  eNB_instances: [0]
  clock_src: "internal"

rfsimulator:
  serveraddr: server

















# Debugging options
start:
  du: true       # If false → NF container sleeps (for manual debugging)
  tcpdump: false  # Enable tcpdump container inside pod

includeTcpDumpContainer: false  # If true, add tcpdump sidecar for debugging

# Pod security context
podSecurityContext:
  runAsUser: 0
  runAsGroup: 0

securityContext:
 capabilities:
    add:
     - SYS_NICE
    drop:
     - ALL

# Tcpdump sidecar image (if enabled)
tcpdumpimage:
  repository: docker.io/oaisoftwarealliance/oai-tcpdump-init
  version: alpine-3.20
  pullPolicy: IfNotPresent

# Resource requests and limits
# See: 
# https://kubernetes.io/docs/concepts/configuration/manage-resources-containers
# https://kubernetes.io/docs/concepts/workloads/pods/pod-qos
resources:
  define: false
  limits:
    nf:
      cpu: 2000m
      memory: 2Gi
    #If tcpdump container is disabled this value will not be used
    tcpdump:
      cpu: 200m
      memory: 128Mi
  requests:
    nf:
      cpu: 2000m
      memory: 2Gi
    #If tcpdump container is disabled this value will not be used
    tcpdump:
      cpu: 100m
      memory: 128Mi

# Scheduling options
terminationGracePeriodSeconds: 5
nodeSelector: {}
nodeName:
