{{- if .Values.multus.enabled }}
{{- range .Values.multus.interfaces }}
{{- if .enabled }}
{{- if eq .type "macvlan" }}
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: {{ $.Release.Name }}-{{ .name }}
  labels:
    app: {{ $.Release.Name }}
spec:
  config: '{
    "cniVersion": "0.3.1",
    "name": "{{ $.Release.Name }}-{{ .name }}",
    "plugins": [
      {
        "type": "macvlan",
        "master": "{{ .hostInterface }}",
        "mode": "{{ default "bridge" .mode }}",
        "ipam": {
          "type": "static",
          "addresses": [
            { "address": "{{ .ipAdd }}/{{ .netmask }}" }
          ]
          {{- if .routes }},
          "routes": {{ toJson .routes }}
          {{- end }}
          {{- if .gateway }},
          "gateway": "{{ .gateway }}"
          {{- end }}
        }
      }
      ]
  }'
---
{{- end }}

{{- if eq .type "vlan" }}
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: {{ $.Release.Name }}-{{ .name }}
  labels:
    app: {{ $.Release.Name }}
spec:
  config: '{
    "cniVersion": "0.3.1",
    "type": "vlan",
    "master": "{{ .hostInterface }}",
    "vlanId": {{ .vlan }},
    "ipam": {
      "type": "static",
      "addresses": [
        { "address": "{{ .ipAdd }}/{{ .netmask }}" }
      ]
      {{- if .routes }},
      "routes": {{ toJson .routes }}
      {{- end }}
      {{- if .gateway }},
      "gateway": "{{ .gateway }}"
      {{- end }}
    }
  }'
---
{{- end }}
{{- end }}
{{- end }}
{{- end }}
