# Kubernetes distribution selector
# - "Vanilla"   → Community Kubernetes
# - "Openshift" → Red Hat OpenShift (requires UBI images)
kubernetesDistribution: Vanilla

# gNB container image configuration
nfimage:
  repository: docker.io/oaisoftwarealliance/oai-gnb-fhi72
  version: 2025.w49      # Image tag (or "develop" for latest dev build)
  pullPolicy: IfNotPresent  # Options: IfNotPresent, Always, Never

# Image pull secrets (useful for private registries or DockerHub rate limits)
imagePullSecrets:
 - name: "regcred"

# Service account configuration
serviceAccount:
  create: true
  annotations: {}

# Service type is fixed to ClusterIP (only for non-Multus interfaces, i.e., eth0)

# ───────────────────────────────────────────────
# Supported deployment modes:
# 1. RF-Simulated du (RFsim):  
#    - Only one interface required (F1) → use Kubernetes default (eth0).  
# 2. Physical du with Ethernet-based USRP/RRU:  
#    - Requires NICs which support DPDK for RU connection. Currently only Intel NICs are supported 
#    - F1C can still use eth0, or you can dedicate separate interface
#    - F1U can still use eth0 or F1C interface or you can dedicate separate subnet
# 3. There can be only one entry of defaultRoute
# 4. Only Interface type macvlan and vlan are supported, to support type vlan:
#    - change to type vlan
#    - add vlan 
#    - add gateway (optional)
#
# Note:  
# - Adapt the IP addresses to your lab environment.
# ───────────────────────────────────────────────

# If a particular interface is commented then it won't be created and instead of it eth0 will be used. 

## Don't change the order of the interface names 
multus:
  enabled: true
  interfaces:
    - name: "f1c"
      hostInterface: "br-ex"
      ipAdd: "172.21.10.90"
      enabled: false
      netmask: "22"
      defaultRoute: "172.21.11.254"
      type: macvlan
      mode: "bridge"
    - name: "f1u"
      hostInterface: "eth0"
      ipAdd: "172.21.16.90"
      enabled: false
      netmask: "22"
      type: macvlan
      mode: "bridge"
    - name: "e2"
      hostInterface: "eth0"
      ipAdd: "192.168.85.91"
      enabled: false
      netmask: "24"
      type: macvlan
      mode: "bridge"
    - name: "uplane"
      enabled: true
      type: sriov
      mac: "00:11:22:33:44:66"
      sriovNetworkNamespace: "openshift-sriov-network-operator"
      sriovResourceName: "ruvfiou"
      vlan: "3"
    - name: "cplane"
      enabled: true
      mac: "00:11:22:33:44:67"
      type: sriov
      sriovNetworkNamespace: "openshift-sriov-network-operator"
      sriovResourceName: "ruvfioc"
      vlan: "3"


## If you want to change more configuration parameters then you should mount the config file  
# in templates/configmap.yaml
# Example config files --> https://gitlab.eurecom.fr/oai/openairinterface5g/-/tree/develop/targets/PROJECTS/GENERIC-NR-5GC/CONF 
config:
  timeZone: "Europe/Paris"
  useAdditionalOptions: "--log_config.global_log_options level,nocolor,time"
  duName: "oai-du"
  cuHost: "oai-cu" ## Ip-address or hostname
  enableE2: false
  ricHost: "oai-flexric"
  gdbstack: 1     # 1 to see gdb traces 
  f1duPort: 2153
  tac: 1
  ruCPlaneMacAdd: 70:b3:d5:e1:5b:81
  ruUPlaneMacAdd: 70:b3:d5:e1:5b:81
  plmn_list:
  - mcc: "001"   # Must match AMF/SMF/UPF
    mnc: "01"
    mnc_length: "2"
    snssaiList:
      - sst: "1"
        sd: "0xffffff"

# Debugging options
start:
  du: true      # If false → NF container sleeps (for manual debugging)

##Only for the NF container
securityContext:
  privileged: false
  capabilities:
    add:
     - IPC_LOCK
     - SYS_NICE
     - SYS_ADMIN
    drop:
     - ALL

podSecurityContext:
  runAsUser: 0
  runAsGroup: 0

# ───────────────────────────────────────────────
# Only needed for 7.2 O-RUs which requires DPDK enabled interfaces
#
# Needed 8 CPUs for 2x2 configuration and 14 CPUs for 4x4 configuration
# If you have two dedicated interfaces for C and U plane then you should have 
# two claims
#
# ────────────────────────────────────────────────

resources:
  define: true
  limits:
    cpu: 14
    memory: 5Gi
    hugepages: 8Gi
    sriovClaims:
      - name: openshift.io/ruvfioc
        quantity: 1
      - name: openshift.io/ruvfiou
        quantity: 1
  requests:
    cpu: 14
    memory: 5Gi
    hugepages: 8Gi
    sriovClaims:
      - name: openshift.io/ruvfioc
        quantity: 1
      - name: openshift.io/ruvfiou
        quantity: 1

# Scheduling options
terminationGracePeriodSeconds: 5
nodeSelector: {}
nodeName:
